<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FOTA</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/123.png" />
    <link rel="icon" type="image/png" href="../assets/img/123.png" />

    <link
      rel="stylesheet"
      type="text/css"
      href="login files/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--erorr icons-->
    <link
      rel="stylesheet"
      type="text/css"
      href="login files/fonts/Linearicons-Free-v1.0.0/icon-font.min.css"
    />
    <!--user and pass icons-->
    <link rel="stylesheet" type="text/css" href="login files/css/util.css" />
    <!--sizing-->
    <link rel="stylesheet" type="text/css" href="login files/css/main.css" />
    <!--main-->
  </head>
  <body>
    <div
      class="background"
      style="background-image: url('login files/images/car.jpg')"
    >
      <div class="login-size p-t-30 p-b-50">
        <span class="login-title p-b-41"> Add New Problem</span>
        <form
          id="login-form"
          action="./login"
          class="login-form validate-form p-b-33 p-t-5"
          method="POST"
        >
          <div
            class="input-position validate-input"
            data-validate="Enter Probem Name"
          >
            <input
              class="input100"
              type="text"
              name="problem"
              placeholder="problem name"
              required
            />
            <!-- <span class="input-logo" data-placeholder="&#xe82a;"></span> -->
          </div>

          <div class="input-position validate-input" data-validate="File">
            <input
              class="input100"
              type="file"
              name="file"
              placeholder="problem file"
              required
            />
            <!-- <span class="input-logo" data-placeholder="&#xe80f;"></span> -->
          </div>

          <div class="button-position m-t-32">
            <button type="submit" class="button-design">add</button>
          </div>
        </form>
      </div>
    </div>
    <script>
      const form = document.getElementById("login-form");

      form.addEventListener("submit", (e) => {
        e.preventDefault();
        const problem = e.target.elements.problem.value;
        const file = document.querySelector('input[type="file"]');
        const data = new FormData();
        data.append("file", file.files[0]);
        data.append("problem", problem);

        //   console.log(e.target.elements);
        console.log("file", file);
        var myHeaders = new Headers();
        // myHeaders.append("Content-Type", "multipart/form-data");
        // myHeaders.append("boundary", "WebKitFormBoundaryfgtsKTYLsT7PNUVD");

        // =—-

        // var raw = JSON.stringify(data);

        var requestOptions = {
          method: "POST",
          headers: myHeaders,
          body: data,
          // redirect: "follow",
        };

        fetch("http://localhost:7000/api/problem", requestOptions)
          .then((response) => response.text())
          .then((result) => {
            // const res = JSON.parse(result);
            console.log(result);
            // if (res.msg === "Admin logged in successfully") {
            //   alert(res.msg);
            //   console.log("sucess");
            //   window.location.href = "http://localhost:7000/table";
            // } else {
            //   console.log("fail");

            //   alert("fail");
            // }
          })
          .catch((error) => {
            console.log("error", error);
            // alert(error.msg);
          });

        console.log(e.target);
      });
    </script>
    <script src="login files/js/jquery-3.2.1.min.js"></script>
    <script src="login files/js/main.js"></script>
  </body>
</html>
