.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 260px;
    background: #fff;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
  .sidebar .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
  .sidebar .sidebar-wrapper {
    position: relative;
    height: calc(100vh - 75px);
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 30px;
  }
  .sidebar[data-background-color="black"] {
    background-color: #191919;
  }
  .sidebar .sidebar-wrapper .dropdown .dropdown-backdrop {
    display: none !important;
  }
  .sidebar .sidebar-wrapper .navbar-form {
    border: none;
    box-shadow: none;
  }
  .sidebar .sidebar-wrapper .navbar-form .input-group {
    font-size: 1.7em;
    height: 36px;
    width: 78%;
    padding-left: 17px;
  }
  .sidebar .sidebar-wrapper>.nav [data-toggle="collapse"]~div>ul>li>a span,
.sidebar .sidebar-wrapper .user .user-info [data-toggle="collapse"]~div>ul>li>a span {
  display: inline-block;
}
.sidebar .sidebar-wrapper>.nav [data-toggle="collapse"]~div>ul>li>a .sidebar-normal,
.sidebar .sidebar-wrapper .user .user-info [data-toggle="collapse"]~div>ul>li>a .sidebar-normal {
  margin: 0;
  position: relative;
  transform: translateX(0px);
  opacity: 1;
  white-space: nowrap;
  display: block;
}
.sidebar .sidebar-wrapper>.nav [data-toggle="collapse"]~div>ul>li>a .sidebar-mini,
.sidebar .sidebar-wrapper .user .user-info [data-toggle="collapse"]~div>ul>li>a .sidebar-mini {
  text-transform: uppercase;
  width: 30px;
  margin-right: 15px;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
  float: left;
  display: inherit;
}
.sidebar .sidebar-wrapper>.nav [data-toggle="collapse"]~div>ul>li>a i,
.sidebar .sidebar-wrapper .user .user-info [data-toggle="collapse"]~div>ul>li>a i {
  font-size: 17px;
  line-height: 20px;
  width: 26px;
}
.sidebar .logo-tim {
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 61px;
    width: 61px;
    float: left;
    overflow: hidden;
}
.sidebar .logo-tim img {
    width: 60px;
    height: 60px;
}
.sidebar .nav {
    margin-top: 20px;
    display: block;
}
.sidebar .nav .caret {
    margin-top: 13px;
    position: absolute;
    right: 6px;
}
.sidebar .nav li>a:hover,
.sidebar .nav li>a:focus {
  background-color: transparent;
  outline: none;
}
.sidebar .nav li:first-child>a {
    margin: 0 15px;
}
.sidebar .nav li:hover>a,
.sidebar .nav li .dropdown-menu a:hover,
.sidebar .nav li .dropdown-menu a:focus,
.sidebar .nav li.active>[data-toggle="collapse"] {
  background-color: rgba(200, 200, 200, 0.2);
  color: #3C4858;
  box-shadow: none;
}
.sidebar .nav li.active>[data-toggle="collapse"] i {
    color: #a9afbb;
}
.sidebar .nav li.active>a,
.sidebar .nav li.active>a i {
  color: #fff;
}
.sidebar .nav li.separator {
    margin: 15px 0;
}
.sidebar .nav li.separator:after {
    width: calc(100% - 30px);
    content: "";
    position: absolute;
    height: 1px;
    left: 15px;
    background-color: rgba(180, 180, 180, 0.3);
}
.sidebar .nav li.separator+li {
    margin-top: 31px;
}
.sidebar .nav p {
    margin: 0;
    line-height: 30px;
    font-size: 14px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap;
  }
  
  .sidebar .nav i {
    font-size: 24px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    color: #a9afbb;
  }
  
  .sidebar .nav li a,
  .sidebar .nav li .dropdown-menu a {
    margin: 10px 15px 0;
    border-radius: 3px;
    color: #3C4858;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: capitalize;
    font-size: 13px;
    padding: 10px 15px;
  }
  
  .sidebar .sidebar-background {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
  }
  
  .sidebar .sidebar-background:after {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background: #FFFFFF;
    opacity: .93;
  }
  
  .sidebar .logo {
    padding: 15px 0px;
    margin: 0;
    display: block;
    position: relative;
    z-index: 4;
  }
  
  .sidebar .logo:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: rgba(180, 180, 180, 0.3);
  }
  
  .sidebar .logo p {
    float: left;
    font-size: 20px;
    margin: 10px 10px;
    color: #fff;
    line-height: 20px;
  }
  
  .sidebar .logo .simple-text {
    text-transform: uppercase;
    padding: 5px 0px;
    display: inline-block;
    font-size: 18px;
    color: #3C4858;
    white-space: nowrap;
    font-weight: 400;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    display: block;
  }
  
  .sidebar .logo-tim {
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 61px;
    width: 61px;
    float: left;
    overflow: hidden;
  }
  
  .sidebar .logo-tim img {
    width: 60px;
    height: 60px;
  }
  
  .sidebar[data-background-color="black"] .nav .nav-item .nav-link {
    color: #fff;
  }
  
  .sidebar[data-background-color="black"] .nav .nav-item i {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .sidebar[data-background-color="black"] .nav .nav-item.active [data-toggle="collapse"],
  .sidebar[data-background-color="black"] .nav .nav-item:hover [data-toggle="collapse"] {
    color: #fff;
  }
  
  .sidebar[data-background-color="black"] .nav .nav-item.active [data-toggle="collapse"] i,
  .sidebar[data-background-color="black"] .nav .nav-item:hover [data-toggle="collapse"] i {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .sidebar[data-background-color="black"] .user a {
    color: #fff;
  }
  
  .sidebar[data-background-color="black"] .simple-text {
    color: #fff;
  }
  
  .sidebar[data-background-color="black"] .sidebar-background:after {
    background: #000;
    opacity: .8;
  }
  
  .sidebar[data-background-color="black"] .nav li .dropdown-menu .dropdown-item {
    color: #fff;
  }
  
  .sidebar[data-color="purple"] li.active>a {
    background-color: #9c27b0;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
  }
  
  .sidebar[data-color="azure"] li.active>a {
    background-color: #00bcd4;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4);
  }
  
  .sidebar[data-color="green"] li.active>a {
    background-color: #4caf50;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
  }
  
  .sidebar[data-color="orange"] li.active>a {
    background-color: #ff9800;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
  }
  
  .sidebar[data-color="danger"] li.active>a {
    background-color: #f44336;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);
  }
  
  .sidebar[data-color="rose"] li.active>a {
    background-color: #e91e63;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
  }
  
  .sidebar[data-color="white"] li.active>a {
    background-color: #fff;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 255, 255, 0.4);
  }
  
  .sidebar[data-color="white"] .nav .nav-item.active>a:not([data-toggle="collapse"]) {
    color: #3C4858;
    opacity: 1;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(60, 72, 88, 0.4);
  }
  
  .sidebar[data-color="white"] .nav .nav-item.active>a:not([data-toggle="collapse"]) i {
    color: rgba(60, 72, 88, 0.8);
  }
  
  .sidebar[data-background-color="red"] .nav .nav-item .nav-link {
    color: #fff;
  }
  
  .sidebar[data-background-color="red"] .nav .nav-item i {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .sidebar[data-background-color="red"] .nav .nav-item.active [data-toggle="collapse"],
  .sidebar[data-background-color="red"] .nav .nav-item:hover [data-toggle="collapse"] {
    color: #fff;
  }
  
  .sidebar[data-background-color="red"] .nav .nav-item.active [data-toggle="collapse"] i,
  .sidebar[data-background-color="red"] .nav .nav-item:hover [data-toggle="collapse"] i {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .sidebar[data-background-color="red"] .user a {
    color: #fff;
  }
  
  .sidebar[data-background-color="red"] .simple-text {
    color: #fff;
  }
  
  .sidebar[data-background-color="red"] .sidebar-background:after {
    background: #f44336;
    opacity: .8;
  }
  
  .sidebar[data-background-color="red"] .user:after,
  .sidebar[data-background-color="red"] .logo:after,
  .sidebar[data-background-color="red"] .nav li.separator:after {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .sidebar[data-background-color="red"] .nav li:hover:not(.active)>a,
  .sidebar[data-background-color="red"] .nav li.active>[data-toggle="collapse"] {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .sidebar[data-image]:after,
  .sidebar.has-image:after {
    opacity: .77;
  }
  .perfect-scrollbar-on .sidebar,
  .perfect-scrollbar-on .main-panel {
    height: 100%;
    max-height: 100%;
  }
  .sidebar,
.main-panel,
.sidebar-wrapper {
  -webkit-transition-property: top, bottom, width;
  transition-property: top, bottom, width;
  -webkit-transition-duration: .2s, .2s, .35s;
  transition-duration: .2s, .2s, .35s;
  -webkit-transition-timing-function: linear, linear, ease;
  transition-timing-function: linear, linear, ease;
  -webkit-overflow-scrolling: touch;
}

@media (min-width: 991px) {
    .sidebar-mini .visible-on-sidebar-regular {
      display: none !important;
    }
  
    .sidebar-mini .visible-on-sidebar-mini {
      display: inline-block !important;
    }
  
    .sidebar-mini .sidebar,
    .sidebar-mini .sidebar .sidebar-wrapper {
      width: 80px;
    }
  
    .sidebar-mini .main-panel {
      width: calc(100% - 80px);
    }
  
    .sidebar-mini .sidebar {
      display: block;
      font-weight: 200;
      z-index: 9999;
    }
  
    .sidebar-mini .sidebar .logo a.logo-normal {
      opacity: 0;
      -webkit-transform: translate3d(-25px, 0, 0);
      -moz-transform: translate3d(-25px, 0, 0);
      -o-transform: translate3d(-25px, 0, 0);
      -ms-transform: translate3d(-25px, 0, 0);
      transform: translate3d(-25px, 0, 0);
    }
  
    .sidebar-mini .sidebar .sidebar-wrapper>.nav [data-toggle="collapse"]~div>ul>li>a .sidebar-normal,
    .sidebar-mini .sidebar .sidebar-wrapper .user .user-info [data-toggle="collapse"]~div>ul>li>a .sidebar-normal,
    .sidebar-mini .sidebar .sidebar-wrapper .user .user-info>a>span,
    .sidebar-mini .sidebar .sidebar-wrapper>.nav li>a p {
      -webkit-transform: translate3d(-25px, 0, 0);
      -moz-transform: translate3d(-25px, 0, 0);
      -o-transform: translate3d(-25px, 0, 0);
      -ms-transform: translate3d(-25px, 0, 0);
      transform: translate3d(-25px, 0, 0);
      opacity: 0;
    }
  
    .sidebar-mini .sidebar:hover {
      width: 260px;
    }
  
    .sidebar-mini .sidebar:hover .logo a.logo-normal {
      opacity: 1;
      -webkit-transform: translate3d(0px, 0, 0);
      -moz-transform: translate3d(0px, 0, 0);
      -o-transform: translate3d(0px, 0, 0);
      -ms-transform: translate3d(0px, 0, 0);
      transform: translate3d(0px, 0, 0);
    }
  
    .sidebar-mini .sidebar:hover .sidebar-wrapper {
      width: 260px;
    }
  
    .sidebar-mini .sidebar:hover .sidebar-wrapper>.nav li>a p,
    .sidebar-mini .sidebar:hover .sidebar-wrapper>.nav [data-toggle="collapse"]~div>ul>li>a .sidebar-normal,
    .sidebar-mini .sidebar:hover .sidebar-wrapper .user .user-info [data-toggle="collapse"]~div>ul>li>a .sidebar-normal,
    .sidebar-mini .sidebar:hover .sidebar-wrapper .user .user-info>a>span {
      -webkit-transform: translate3d(0px, 0, 0);
      -moz-transform: translate3d(0px, 0, 0);
      -o-transform: translate3d(0px, 0, 0);
      -ms-transform: translate3d(0px, 0, 0);
      transform: translate3d(0px, 0, 0);
      opacity: 1;
    }
  
    .sidebar .nav .nav-item.active-pro {
      position: absolute;
      width: 100%;
      bottom: 13px;
      left: 0;
    }
  }
.animation-transition-general,
.sidebar .sidebar-wrapper>.nav [data-toggle="collapse"]~div>ul>li>a span,
.sidebar .sidebar-wrapper .user .user-info [data-toggle="collapse"]~div>ul>li>a span,
.sidebar .nav p {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
.caret,
.sidebar a {
  -webkit-transition: all 150ms ease-in;
  -moz-transition: all 150ms ease-in;
  -o-transition: all 150ms ease-in;
  -ms-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}
html[dir="rtl"] .main-panel {
    float: left;
  }
  
  html[dir="rtl"] .sidebar,
  html[dir="rtl"] .off-canvas-sidebar nav .navbar-collapse {
    text-align: right;
  }
  
  html[dir="rtl"] .sidebar {
    left: unset;
    right: 0;
  }
  
  html[dir="rtl"] .sidebar .nav {
    padding-right: 0;
  }
  
  html[dir="rtl"] .sidebar .nav i {
    float: right;
    margin-left: 15px;
    margin-right: unset;
  }
  @media all and (min-width: 991px) {
    .navbar .navbar-nav {
      align-items: center;
    }
  
    .navbar .navbar-nav .button-container {
      margin-left: 0.1875px;
    }
  
    .sidebar .navbar-form {
      display: none !important;
    }
  }
  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  



/*          Changes for small display      */
@media (max-width: 991px) {
    .form-group textarea {
      padding-top: 15px;
    }
  
    .nav-open .menu-on-left .main-panel {
      position: initial;
    }
  
    html,
    body {
      overflow-x: hidden;
    }
  
    .nav-open .menu-on-left .main-panel,
    .nav-open .menu-on-left .wrapper-full-page,
    .nav-open .menu-on-left .navbar-fixed>div {
      -webkit-transform: translate3d(260px, 0, 0);
      -moz-transform: translate3d(260px, 0, 0);
      -o-transform: translate3d(260px, 0, 0);
      -ms-transform: translate3d(260px, 0, 0);
      transform: translate3d(260px, 0, 0);
    }
  
    .menu-on-left .sidebar,
    .menu-on-left .off-canvas-sidebar {
      left: 0;
      right: auto;
      -webkit-transform: translate3d(-260px, 0, 0);
      -moz-transform: translate3d(-260px, 0, 0);
      -o-transform: translate3d(-260px, 0, 0);
      -ms-transform: translate3d(-260px, 0, 0);
      transform: translate3d(-260px, 0, 0);
    }
  
    .menu-on-left .close-layer {
      left: auto;
      right: 0;
    }
  
    .timeline:before {
      left: 5%;
    }
  
    .timeline>li>.timeline-badge {
      left: 5%;
    }
  
    .timeline>li>.timeline-panel {
      float: right;
      width: 86%;
    }
  
    .timeline>li>.timeline-panel:before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto;
    }
  
    .timeline>li>.timeline-panel:after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto;
    }
  
    .nav-mobile-menu .dropdown .dropdown-menu {
      display: none;
      position: static !important;
      background-color: transparent;
      width: auto;
      float: none;
      box-shadow: none;
    }
  
    .nav-mobile-menu .dropdown .dropdown-menu.showing {
      animation: initial;
      animation-duration: 0s;
    }
  
    .nav-mobile-menu .dropdown .dropdown-menu.hiding {
      transform: none;
      opacity: 1;
    }
  
    .nav-mobile-menu .dropdown.show .dropdown-menu {
      display: block;
    }
  
    .nav-mobile-menu li.active>a {
      background-color: rgba(255, 255, 255, 0.1);
    }
  
    .navbar-minimize {
      display: none;
    }
  
    .card .form-horizontal .label-on-left,
    .card .form-horizontal .label-on-right {
      padding-left: 15px;
      padding-top: 8px;
    }
  
    .card .form-horizontal .form-group {
      margin-top: 0px;
    }
  
    .card .form-horizontal .checkbox-radios {
      padding-bottom: 15px;
    }
  
    .card .form-horizontal .checkbox-radios .checkbox:first-child,
    .card .form-horizontal .checkbox-radios .radio:first-child {
      margin-top: 0;
    }
  
    .card .form-horizontal .checkbox-inline {
      margin-top: 0;
    }
  
    .sidebar {
      display: none;
      box-shadow: none;
    }
  
    .sidebar .sidebar-wrapper {
      padding-bottom: 60px;
    }
  
    .sidebar .nav-mobile-menu {
      margin-top: 0;
    }
  
    .sidebar .nav-mobile-menu .notification {
      float: left;
      line-height: 30px;
      margin-right: 8px;
    }
  
    .sidebar .nav-mobile-menu .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  
    .main-panel {
      width: 100%;
    }
  
    .navbar-transparent {
      padding-top: 15px;
      background-color: rgba(0, 0, 0, 0.45);
    }
  
    body {
      position: relative;
    }
  
    .nav-open .main-panel,
    .nav-open .wrapper-full-page,
    .nav-open .navbar .container .navbar-toggler,
    .nav-open .navbar .container .navbar-wrapper,
    .nav-open .navbar .container {
      left: 0;
      -webkit-transform: translate3d(-260px, 0, 0);
      -moz-transform: translate3d(-260px, 0, 0);
      -o-transform: translate3d(-260px, 0, 0);
      -ms-transform: translate3d(-260px, 0, 0);
      transform: translate3d(-260px, 0, 0);
    }
  
    .nav-open .sidebar {
      box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }
  
    .nav-open .off-canvas-sidebar .navbar-collapse,
    .nav-open .sidebar {
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    .wrapper-full-page,
    .navbar .container .navbar-toggler,
    .navbar .container .navbar-wrapper,
    .navbar .container {
      -webkit-transform: translate3d(0px, 0, 0);
      -moz-transform: translate3d(0px, 0, 0);
      -o-transform: translate3d(0px, 0, 0);
      -ms-transform: translate3d(0px, 0, 0);
      transform: translate3d(0px, 0, 0);
      -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
      -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
      -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
      -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
      transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
      left: 0;
    }
  
    .off-canvas-sidebar .navbar .container {
      transform: none;
    }
  
    .main-panel,
    .navbar-collapse {
      -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
      -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
      -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
      -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
      transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    }
  
    .navbar .navbar-collapse.collapse,
    .navbar .navbar-collapse.collapse.in,
    .navbar .navbar-collapse.collapsing {
      display: none !important;
    }
  
    .off-canvas-sidebar .navbar .navbar-collapse.collapse,
    .off-canvas-sidebar .navbar .navbar-collapse.collapse.in,
    .off-canvas-sidebar .navbar .navbar-collapse.collapsing {
      display: block !important;
    }
  
    .navbar-nav>li {
      float: none;
      position: relative;
      display: block;
    }
  
    .off-canvas-sidebar nav .navbar-collapse {
      margin: 0;
    }
  
    .off-canvas-sidebar nav .navbar-collapse>ul {
      margin-top: 19px;
    }
  
    .sidebar,
    .off-canvas-sidebar nav .navbar-collapse {
      position: fixed;
      display: block;
      top: 0;
      height: 100vh;
      width: 260px;
      right: 0;
      left: auto;
      z-index: 1032;
      visibility: visible;
      background-color: #9A9A9A;
      overflow-y: visible;
      border-top: none;
      text-align: left;
      padding-right: 0px;
      padding-left: 0;
      -webkit-transform: translate3d(260px, 0, 0);
      -moz-transform: translate3d(260px, 0, 0);
      -o-transform: translate3d(260px, 0, 0);
      -ms-transform: translate3d(260px, 0, 0);
      transform: translate3d(260px, 0, 0);
      -webkit-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
      -moz-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
      -o-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
      -ms-transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
      transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    }
  
    .sidebar>ul,
    .off-canvas-sidebar nav .navbar-collapse>ul {
      position: relative;
      z-index: 4;
      width: 100%;
    }
  
    .sidebar::before,
    .off-canvas-sidebar nav .navbar-collapse::before {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: #282828;
      display: block;
      content: "";
      z-index: 1;
    }
  
    .sidebar .logo,
    .off-canvas-sidebar nav .navbar-collapse .logo {
      position: relative;
      z-index: 4;
    }
  
    .sidebar .navbar-form,
    .off-canvas-sidebar nav .navbar-collapse .navbar-form {
      margin: 10px 0px;
      float: none !important;
      padding-top: 1px;
      padding-bottom: 1px;
      position: relative;
    }
  
    .sidebar .table-responsive,
    .off-canvas-sidebar nav .navbar-collapse .table-responsive {
      width: 100%;
      margin-bottom: 15px;
      overflow-x: scroll;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      -webkit-overflow-scrolling: touch;
    }
  
    .form-group.form-search .form-control {
      font-size: 1.7em;
      height: 37px;
      width: 78%;
    }
  
    .navbar-form .btn {
      position: absolute;
      top: -5px;
      right: -50px;
    }
  
    .close-layer {
      height: 100%;
      width: 100%;
      position: absolute;
      opacity: 0;
      top: 0;
      left: auto;
      background: rgba(0, 0, 0, 0.35);
      content: "";
      z-index: 9999;
      overflow-x: hidden;
      -webkit-transition: all 370ms ease-in;
      -moz-transition: all 370ms ease-in;
      -o-transition: all 370ms ease-in;
      -ms-transition: all 370ms ease-in;
      transition: all 370ms ease-in;
    }
  
    .close-layer.visible {
      opacity: 1;
    }
  
    .navbar-toggler .icon-bar {
      display: block;
      position: relative;
      background: #555 !important;
      width: 24px;
      height: 2px;
      border-radius: 1px;
      margin: 0 auto;
    }
  
    .navbar-header .navbar-toggler {
      padding: 15px;
      margin-top: 4px;
      width: 40px;
      height: 40px;
    }
  
    .bar1,
    .bar2,
    .bar3 {
      outline: 1px solid transparent;
    }
  
    @keyframes topbar-x {
      0% {
        top: 0px;
        transform: rotate(0deg);
      }
  
      45% {
        top: 6px;
        transform: rotate(145deg);
      }
  
      75% {
        transform: rotate(130deg);
      }
  
      100% {
        transform: rotate(135deg);
      }
    }
  
    @-webkit-keyframes topbar-x {
      0% {
        top: 0px;
        -webkit-transform: rotate(0deg);
      }
  
      45% {
        top: 6px;
        -webkit-transform: rotate(145deg);
      }
  
      75% {
        -webkit-transform: rotate(130deg);
      }
  
      100% {
        -webkit-transform: rotate(135deg);
      }
    }
  
    @-moz-keyframes topbar-x {
      0% {
        top: 0px;
        -moz-transform: rotate(0deg);
      }
  
      45% {
        top: 6px;
        -moz-transform: rotate(145deg);
      }
  
      75% {
        -moz-transform: rotate(130deg);
      }
  
      100% {
        -moz-transform: rotate(135deg);
      }
    }
  
    @keyframes topbar-back {
      0% {
        top: 6px;
        transform: rotate(135deg);
      }
  
      45% {
        transform: rotate(-10deg);
      }
  
      75% {
        transform: rotate(5deg);
      }
  
      100% {
        top: 0px;
        transform: rotate(0);
      }
    }
  
    @-webkit-keyframes topbar-back {
      0% {
        top: 6px;
        -webkit-transform: rotate(135deg);
      }
  
      45% {
        -webkit-transform: rotate(-10deg);
      }
  
      75% {
        -webkit-transform: rotate(5deg);
      }
  
      100% {
        top: 0px;
        -webkit-transform: rotate(0);
      }
    }
  
    @-moz-keyframes topbar-back {
      0% {
        top: 6px;
        -moz-transform: rotate(135deg);
      }
  
      45% {
        -moz-transform: rotate(-10deg);
      }
  
      75% {
        -moz-transform: rotate(5deg);
      }
  
      100% {
        top: 0px;
        -moz-transform: rotate(0);
      }
    }
  
    @keyframes bottombar-x {
      0% {
        bottom: 0px;
        transform: rotate(0deg);
      }
  
      45% {
        bottom: 6px;
        transform: rotate(-145deg);
      }
  
      75% {
        transform: rotate(-130deg);
      }
  
      100% {
        transform: rotate(-135deg);
      }
    }
  
    @-webkit-keyframes bottombar-x {
      0% {
        bottom: 0px;
        -webkit-transform: rotate(0deg);
      }
  
      45% {
        bottom: 6px;
        -webkit-transform: rotate(-145deg);
      }
  
      75% {
        -webkit-transform: rotate(-130deg);
      }
  
      100% {
        -webkit-transform: rotate(-135deg);
      }
    }
  
    @-moz-keyframes bottombar-x {
      0% {
        bottom: 0px;
        -moz-transform: rotate(0deg);
      }
  
      45% {
        bottom: 6px;
        -moz-transform: rotate(-145deg);
      }
  
      75% {
        -moz-transform: rotate(-130deg);
      }
  
      100% {
        -moz-transform: rotate(-135deg);
      }
    }
  
    @keyframes bottombar-back {
      0% {
        bottom: 6px;
        transform: rotate(-135deg);
      }
  
      45% {
        transform: rotate(10deg);
      }
  
      75% {
        transform: rotate(-5deg);
      }
  
      100% {
        bottom: 0px;
        transform: rotate(0);
      }
    }
  
    @-webkit-keyframes bottombar-back {
      0% {
        bottom: 6px;
        -webkit-transform: rotate(-135deg);
      }
  
      45% {
        -webkit-transform: rotate(10deg);
      }
  
      75% {
        -webkit-transform: rotate(-5deg);
      }
  
      100% {
        bottom: 0px;
        -webkit-transform: rotate(0);
      }
    }
  
    @-moz-keyframes bottombar-back {
      0% {
        bottom: 6px;
        -moz-transform: rotate(-135deg);
      }
  
      45% {
        -moz-transform: rotate(10deg);
      }
  
      75% {
        -moz-transform: rotate(-5deg);
      }
  
      100% {
        bottom: 0px;
        -moz-transform: rotate(0);
      }
    }
  
    .navbar-toggler .icon-bar:nth-child(2) {
      top: 0px;
      -webkit-animation: topbar-back 500ms linear 0s;
      -moz-animation: topbar-back 500ms linear 0s;
      animation: topbar-back 500ms 0s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
  
    .navbar-toggler .icon-bar:nth-child(3) {
      opacity: 1;
    }
  
    .navbar-toggler .icon-bar:nth-child(4) {
      bottom: 0px;
      -webkit-animation: bottombar-back 500ms linear 0s;
      -moz-animation: bottombar-back 500ms linear 0s;
      animation: bottombar-back 500ms 0s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
  
    .navbar-toggler.toggled .icon-bar:nth-child(2) {
      top: 6px;
      -webkit-animation: topbar-x 500ms linear 0s;
      -moz-animation: topbar-x 500ms linear 0s;
      animation: topbar-x 500ms 0s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
  
    .navbar-toggler.toggled .icon-bar:nth-child(3) {
      opacity: 0;
    }
  
    .navbar-toggler.toggled .icon-bar:nth-child(4) {
      bottom: 6px;
      -webkit-animation: bottombar-x 500ms linear 0s;
      -moz-animation: bottombar-x 500ms linear 0s;
      animation: bottombar-x 500ms 0s;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
  
    @-webkit-keyframes fadeIn {
      0% {
        opacity: 0;
      }
  
      100% {
        opacity: 1;
      }
    }
  
    @-moz-keyframes fadeIn {
      0% {
        opacity: 0;
      }
  
      100% {
        opacity: 1;
      }
    }
  
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
  
      100% {
        opacity: 1;
      }
    }
  
    .dropdown-menu .divider {
      background-color: rgba(229, 229, 229, 0.15);
    }
  
    .navbar-nav {
      margin: 1px 0;
    }
  
    .navbar-nav .open .dropdown-menu>li>a {
      padding: 15px 15px 5px 50px;
    }
  
    .navbar-nav .open .dropdown-menu>li:first-child>a {
      padding: 5px 15px 5px 50px;
    }
  
    .navbar-nav .open .dropdown-menu>li:last-child>a {
      padding: 15px 15px 25px 50px;
    }
  
    [class*="navbar-"] .navbar-nav>li>a,
    [class*="navbar-"] .navbar-nav>li>a:hover,
    [class*="navbar-"] .navbar-nav>li>a:focus,
    [class*="navbar-"] .navbar-nav .active>a,
    [class*="navbar-"] .navbar-nav .active>a:hover,
    [class*="navbar-"] .navbar-nav .active>a:focus,
    [class*="navbar-"] .navbar-nav .open .dropdown-menu>li>a,
    [class*="navbar-"] .navbar-nav .open .dropdown-menu>li>a:hover,
    [class*="navbar-"] .navbar-nav .open .dropdown-menu>li>a:focus,
    [class*="navbar-"] .navbar-nav .navbar-nav .open .dropdown-menu>li>a:active {
      color: white;
    }
  
    [class*="navbar-"] .navbar-nav>li>a,
    [class*="navbar-"] .navbar-nav>li>a:hover,
    [class*="navbar-"] .navbar-nav>li>a:focus,
    [class*="navbar-"] .navbar-nav .open .dropdown-menu>li>a,
    [class*="navbar-"] .navbar-nav .open .dropdown-menu>li>a:hover,
    [class*="navbar-"] .navbar-nav .open .dropdown-menu>li>a:focus {
      opacity: .7;
      background: transparent;
    }
  
    [class*="navbar-"] .navbar-nav.navbar-nav .open .dropdown-menu>li>a:active {
      opacity: 1;
    }
  
    [class*="navbar-"] .navbar-nav .dropdown>a:hover .caret {
      border-bottom-color: #777;
      border-top-color: #777;
    }
  
    [class*="navbar-"] .navbar-nav .dropdown>a:active .caret {
      border-bottom-color: white;
      border-top-color: white;
    }
  
    .dropdown-menu {
      display: none;
    }
  
    .navbar-fixed-top {
      -webkit-backface-visibility: hidden;
    }
  
    #bodyClick {
      height: 100%;
      width: 100%;
      position: fixed;
      opacity: 0;
      top: 0;
      left: auto;
      right: 260px;
      content: "";
      z-index: 9999;
      overflow-x: hidden;
    }
  
    .social-line .btn {
      margin: 0 0 10px 0;
    }
  
    .subscribe-line .form-control {
      margin: 0 0 10px 0;
    }
  
    .social-line.pull-right {
      float: none;
    }
  
    .footer:not(.footer-big) nav>ul li {
      float: none;
    }
  
    .social-area.pull-right {
      float: none !important;
    }
  
    .form-control+.form-control-feedback {
      margin-top: -8px;
    }
  
    .navbar-toggle:hover,
    .navbar-toggle:focus {
      background-color: transparent !important;
    }
  
    .media-post .author {
      width: 20%;
      float: none !important;
      display: block;
      margin: 0 auto 10px;
    }
  
    .media-post .media-body {
      width: 100%;
    }
  
    .navbar-collapse.collapse {
      height: 100% !important;
    }
  
    .navbar-collapse.collapse.in {
      display: block;
    }
  
    .navbar-header .collapse,
    .navbar-toggle {
      display: block !important;
    }
  
    .navbar-header {
      float: none;
    }
  
    .navbar-collapse .nav p {
      font-size: 1rem;
      margin: 0;
    }
  }
  @media (min-width: 992px) {
    .main-panel .navbar .navbar-collapse .navbar-nav .nav-item .nav-link p {
      display: none;
    }
  
    .nav-mobile-menu,
    .sidebar .navbar-form {
      display: none !important;
    }
  }  
